<footer class="py-3 fixed-bottom">
    @*  <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Courses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true">Courses</span>
            </NavLink>
        </li>

    </ul> *@
    <p class="text-center text-body-secondary">
        © ROBO UNICORNS
    </p>
</footer>

@code {

}
